<h1>Todo List</h1>

<form action="" method="post">
    <label for="tachecreate">Tâches</label>
    <input type="text" name="tachecreate" id="tachecreate">
    <input type="submit">Ajouter</button>
</form>